@model AppointAid.Models.MedicalTest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Results)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Results)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicalTestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
